# Python Practice 4

##  This document is part 4 of the composition of Python language in Jupyter Notebooks; Established to show basic understanding of coding in Python to perform list operations in Python, including indexing, list manipulation, and copy/clone list.

Imagine you received album recommendations from your friends and compiled all of the recommandations into a table, with specific information about each album.

The table has one row for each movie and several columns:

*   **Artist** - Name of the artist
*   **Album** - Name of the album
*   **Released_year** - Year the album was released
*   **Length_min_sec** - Length of the album (hours,minutes,seconds)
*   **Genre** - Genre of the album
*   **Music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01)
*   **Released** - Date on which the album was released
*   **Soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
*   **Rating_of_friends** - Indicates the rating from your friends from 1 to 10

<br>
<br>

The Dataset can be seen below:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleet wood Mac</td>
    <td> Rumours </td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

* ### List: A sequenced collection of different objects such as integers, strings, etc. **__The address of each element within a list is called an index. An index is used to access and refer to items within a list.__**

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsIndex.png" width="1000">

* #### To create a list, type the list within square brackets **__*[ ]* with your content inside the parenthesis and separated by commas.__**

In [19]:
# Create a list

L = ['Michael Jackson', 10.1, 1982]
L

['Michael Jackson', 10.1, 1982]

# Negative and regular indexing with a list

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsNeg.png" width="1000">

In [20]:
# Print the elements on each index

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

* ### List Content: Can contain strings(str), floats(5.0), and integers(9). We can **__nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting.__**

In [21]:
# Sample List of Nesting

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1)]

### List Operations 
    * Slicing ( L[3:5] )
    * Extend (.extend([]) )
    * Append (.append([]) )
    * Change
    * Delete
    * Convert from string to list ( ''.split(  )

In [22]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsSlice.png" width="1000">

1. You can slice a list for specific elements.

In [23]:
# List slicing

L[3:5]

['MJ', 1]

2. We can use the method extend to **__add new elements to the list__**

In [24]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

3. If we apply **append**, we add __one element to the list__

In [25]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

4. Each time we apply a method, the list changes. If we apply **extend we add two new elements to the list. The list L is then modified by adding two new elements.**

In [26]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

5. If we **append** the list ['a','b'] we have **one new element consisting of a** ***___nested list___***.

In [27]:
# Use append to add elements to list

L.append(['a','b'])
L

['Michael Jackson', 10.2, 'pop', 10, ['a', 'b']]

6. Lists are mutable, **_we can change them._** For example, i.e change the first element.

In [28]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

7. Delete an element of a list using the del command

In [29]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

Before change: ['hard rock', 10, 1.2]
After change: [10, 1.2]

8. Convert a **__string to a list using split.__** i.e The method split ***_translates every group of characters separated by a space into an element in a list._***

In [32]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

* Use the split function to **separate strings on a specific character which we call a delimiter.** <br> 
    1. Pass the character you would like to split on into the argument, which in this case is a comma. 
    2. The result is a list, and each element corresponds to a set of characters that have been separated by a comma.

In [34]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

### Copy and Clone List

* When we set one variable (B = A), both A and B are referencing the same list in memory. <br>
B = A[:] <br>
B

In [36]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRef.png" width="1000" align="center">

Initially, __the value of the first element in B is set as "hard rock".__ If we __change the first element in A to "banana",__ we get an unexpected side effect. As __A and B are referencing the same list, if we change list A, then list B also changes.__ *If we check the first element of B we get "banana" instead of "hard rock".*

In [37]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsRefGif.gif" width="1000">

You can clone list **A** by using  the following syntax:

In [39]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

Variable B references a new copy or clone of the original list.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%202/images/ListsVal.gif" width="1000">

Now if you change <b>A</b>, <b>B</b> will not change:

In [40]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana

## Review on Lists

In [92]:
# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = ['1, hello, [1,2,3],True']
a_list

['1, hello, [1,2,3],True']

In [93]:
# Find the value stored in the element index 1 of a_list
a_list[1]

IndexError: list index out of range

In [94]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.
a_list[1:4]

[]

In [78]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:
A = [1, 'a'] 
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

### Scenario : Shopping list

### 1. Task 1:  Create an empty list 
       *create a empty list for storing the items to buy in Shopping list.

In [95]:
# Create an empty list
Shopping_list=[]

### Task 2: Store the number of items to the shopping_list

* Watch
* Laptop
* Shoes
* Pen
* Clothes

In [96]:
Shopping_list=['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes']

### Task 3:  Add a new item to the shopping_list
Use (.append) to add **ONE** new item to the shopping list.

In [100]:
Shopping_list.append('Football')

### Task 4: Print First item from the shopping_list
 Use `indexing` for checking the first item.

In [104]:
print(Shopping_list[0])

Watch

### Task 4: Print Last item from the shopping_list
Check the last time that we need to buy.

In [106]:
print(Shopping_list[-1])

Football

In [107]:
print(Shopping_list[-4])

Shoes

In [108]:
print(Shopping_list[2])

Shoes

In [109]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

### Task 5: Change an item on the shopping_list

In [111]:
Shopping_list[3] = 'Notebook'

In [112]:
del(Shopping_list[3])

In [113]:
print(Shopping_list)

['Watch', 'Laptop', 'Shoes', 'Clothes', 'Football']