# Python Practice 3 -- INTRO TO STRINGS**

## This document is part 3 of the composition of Python language in Jupyter Notebooks; Established to show basic understanding of coding in Python including slicing strings, sequences, manipulation of strings, and special sequences.

- ### Index Slicing

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsSlice.png" width="600" align="center">

You can obtain multiple characters from a string using slicing! <br> When taking the slice, **_the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)_**

In [2]:
# Assign string to variable
name = 'Michael Jackson'
name

'Michael Jackson'

In [3]:
# Take the slice on variable name with only index 0 to index 3
name[0:4]

'Mich'

In [5]:
# Take the slice on variable name with only index 8 to index 11
name[8:12]

'Jack'

- ### Stride

Stride value -- with the 'numeral' meaning that we are selecting **every '' variable**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsStride.png" width="600" align="center">

In [6]:
# Assign string to variable
name = 'Michael Jackson'
name

'Michael Jackson'

__Stride is displayed as'[::'']:__ <br>
example: name[::2]

In [7]:
# Get every second element. The elements on index 1, 3, 5 ...
name[::2]

'McalJcsn'

#### You can incorporate *slicing* with the stride. 
> **i.e name[::]**

In [9]:
# Get every second element in the range from index 0 to index 4 
name[0:5:2]

'Mca'

### Concatenate Strings

Concatenate (combine) strings by using the addition symbols that makes __a new string THATS A COMBINATION OF BOTH.__

In [12]:
# Concatenate two strings
statement = name + 'is the best'
statement

'Michael Jacksonis the best'

* #### To *replicate values* of a string: __multiply (*) the string by the number of times we would like to replicate__. <br> i.e the number is three. The result is a _new string,_ and this new string consists of *three copies of the original string*

In [13]:
# Print the string for 3 times
3 * 'Michael Jackson'

'Michael JacksonMichael JacksonMichael Jackson'

* __To create a new string,__ set it to the _original variable._ Concatenated with a new string, the result is a __new string__.  <br> i.e new string that changes from Michael Jackson to â€œMichael Jackson is the best".

In [1]:
# Concatenate strings 
name = 'Michael Jackson'
statement = name + 'is the best'
statement

'Michael Jacksonis the best'

### Escape Sequences

- Shown using **backslashes ( \ )** represents the beginning of escape sequences. <br>
- Escape sequences represent strings that may be difficult to input. i.e (\n): new line. The output is given by a new line after (\n).

In [4]:
# New line escape sequence 
print('Michael Jackson \n is the best')

Michael Jackson
 is the best

- #### \t: TAB

In [8]:
# Tab escape sequence
print('Michael Jackson \t is the best')

Michael Jackson 	 is the best

- If you want to place a back slash in your string, use a double back slash **( \ \ )**

In [9]:
# Include backslash in string
print('Michael Jackson \\ is the best')

Michael Jackson \ is the best

- Also place an "r" before the string to display the backslash ( 'r' : \ )

In [11]:
# R will tell Python that string will display as raw string
print('Michael Jackson 'r' is the best')

Michael Jackson  is the best

## String Manipulation Operations

#### String operation methods manipulate the data in Python.

* Basic methods include: <br>
  1. __Upper__: converts lower case characters to upper case characters. <br> 
  2. __Replace__: replaces a segment of the string -- i.e. a substring with a new string.
    *  We _input the part of the string we would like to change._ The second argument: what we would like to exchange the segment with, the result is a new string with the *segment changed.* <br>

3. __Find__: finds a sub-string. <br>
      * The argument: the substring you would like to find, and the output is the first index of the sequence. <br>
4. __Split__: splits the string at the specified separator, and returns a list *__( split() )__*

###  1. Uppercase

In [203]:
# Assign string to variables

a = "Thriller is the sixth studio album"

# Convert lowercase characters to upper case 

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

### 2. Replace

In [25]:
# Replace the old substring with the new target substring is the segment has been found in the string

a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

'Janet Jackson is the best'

### 3. Find

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsFind.png" width="600" align="center">

In [39]:
# Find the substring in the string. Only the index of the first element of substring in string will be the output. 
name = 'Michael Jackson'
name.find('el')

5

In [31]:
# Find the substring in the string 

name.find('Jack')

8

#### If the sub-string is not in the string then the output is a negative one.

In [32]:
# If cannot find the substring in the string
name.find('Jasdfasdasdf')

-1

### 4. Split

In [38]:
# Split the substring into a list

name = 'Michael Jackson'
split_string = (name.split())
split_string

['Michael', 'Jackson']

### RegEx

RegEx (Regular Expression): a tool for matching and handling strings. <br>
Python provides a built-in module called __'re'__, which allows you to work with regular expressions.

In [45]:
# Import the Re module
import re

### 1. Search <br>
The __search()__ function: searches for specified patterns within a string.

In [49]:
s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

### *Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several __special sequences__ in RegEx that can be used to __match specific characters or patterns.__*

| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
| \d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\w\w\w\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

## Special Sequence Examples:

#### Ex: using the \d special sequence in a regular expression pattern <br>
The regular expression pattern is defined: **r"\d\d\d\d\d\d\d\d\d\d"** which uses the ( \d ) special sequence to match any digit character (0-9), and the \d sequence is repeated *_ten times to match ten consecutive digits._*

In [76]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

#### Ex. Using the __(\W)__ special sequence in a regular expression pattern

In [53]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

Matches: [',', ' ', '!']

#### The __findall()__ function finds all occurrences of a specified pattern within a string.

In [54]:
s2 = "Michael Jackson was a singer and known as the 'King of Pop'"


# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)

# Print out the list of matched words
print(result)

['as', 'as']

### A regular expression's _Split()_ function: splits a string into an array of substrings based on a specified pattern.

In [ ]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s2)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

### The _Sub function()_ of a regular expression: Used to replace all occurrences of a pattern in a string with a specified replacement.

In [77]:
# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael Jackson was a singer and known as the 'legend'

## Strings Recap

In [130]:
# Store value into Variable

a='1'
b='2'
c=a+b

In [98]:
# Print out a value into variable

a='1'
b='2'
c=a+b
a

'1'

In [99]:
# Print out a value into variable 

b

'2'

In [100]:
# Print out a value into variable 

c=a+b
c

'12'

In [127]:
# Assign string into variables

name = "ABCDEFG"
name

'ABCDEFG'

In [129]:
# Consider the variable d use slicing to print out the first three elements

name[0:3]

'ABC'

In [136]:
# Use slicing to print the first three elements of the name

name[0:3]

'ABC'

In [142]:
# Use a stride value of 2 to print out every second character of the string e

e = 'clocrkr1e1c1t'
e[::2]

'correct'

In [161]:
# Print out a backslash 
print('\\\\\\')

\\\

In [168]:
# Convert all characters of the string to uppercase

# Assign string to variable

f = 'You are wrong'
print("before upper:", f)
b = f.upper()
print("After upper:", b)

before upper: You are wrong
After upper: YOU ARE WRONG

In [206]:
# Convert all characters of the string to lowercase

# Assign string to variable

f = 'You are wrong'
print('before upper:', f)
b = f.lower()
print('after upper:', b)

before upper: You are wrong
after upper: you are wrong

In [209]:
# Assign string to a variable 

g = 'Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go'

In [211]:
# Consider variable g find the first index of the sub-string snow

g.find('snow')

95

In [212]:
# In the variable g replace the sub-string with Bob
g.replace('Mary', 'Bob')

'Bob had a little lamb Little lamb, little lamb Bob had a little lamb Its fleece was white as snow And everywhere that Bob went Bob went, Bob went Everywhere that Bob went The lamb was sure to go'

In [213]:
# In the variable g replace the sub-string , with .
g.replace(',', '.')

'Mary had a little lamb Little lamb. little lamb Mary had a little lamb Its fleece was white as snow And everywhere that Mary went Mary went. Mary went Everywhere that Mary went The lamb was sure to go'

In [215]:
# In the variable g, split the substring to list
g.split()

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Little',
 'lamb,',
 'little',
 'lamb',
 'Mary',
 'had',
 'a',
 'little',
 'lamb',
 'Its',
 'fleece',
 'was',
 'white',
 'as',
 'snow',
 'And',
 'everywhere',
 'that',
 'Mary',
 'went',
 'Mary',
 'went,',
 'Mary',
 'went',
 'Everywhere',
 'that',
 'Mary',
 'went',
 'The',
 'lamb',
 'was',
 'sure',
 'to',
 'go']

In [216]:
# Assign variable to a string 
s3 = "House number- 1105"

In [219]:
# Use the search() function to search for the "\\d" in the string
result = re.search("\\d", s3)

# Check if a match was found
if result:
    print("Digit found")
else:
    print("Digit not found.")

Digit found

In [242]:
# Assign variable to a string 

str1= "The quick brown fox jumps over the lazy dog."

In [232]:
# Use re.sub() to replace "fox" with "bear"
new_str1 = re.sub(r"fox", "bear", str1)

print(new_str1)

The quick brown bear jumps over the lazy dog.

In [240]:
# Assign a variable to a string 
str2 = "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

In [241]:
# Use re.findall() to find all occurrences of "woo"
matches = re.findall(r"woo", str2)
print('matches')

matches