 #  Python Practice -- Basics of Python

## This document is being composed to show basic understanding of the Python language in Jupyter Notebooks. After completion of this Python practice, I will have a better understanding of coding in Python language in Data Science.

### Markdown cell: A cell specifically for writing and making commentary in the Jupyter Notebook. 
### Code cell -- A cell meant specifically for programming that will not pick up literal statements without code.

In [176]:
print('Hello, Python!')

Hello, Python!

In [177]:
# Practice writing comments
print('This line prints a string.')

This line prints a string.

In [178]:
# Practice writing comments 
print('This was a practice line. Anything past the hashtag does not get included into the code, but the words themself. these are called comments')

This was a practice line. Anything past the hashtag does not get included into the code, but the words themself. these are called comments

In [179]:
# Print the traditional Hello World
print('Hello, World!')

Hello, World!

In [180]:
print('What is the value of z = x+y?')

What is the value of z = x+y?

In [181]:
print('You can do equations in code as normal. input the (+,-,*,/) signs as normal, run your code!')

You can do equations in code as normal. input the (+,-,*,/) signs as normal, run your code!

In [182]:
print('Example:')
2+3

Example:

5

## Strings, Integers, and Floats

In [183]:
# Integer
11

11

In [184]:
# Float 
2.14

2.14

In [185]:
# String
print('Hello, Python!')

Hello, Python!

You can get Python to tell you the type of an expression by using the built-in type() function.

In [186]:
# Type of 12
type(12)

int

In [187]:
# Type of 2.14
type(2.14)

float

In [188]:
# Type of "Hello, Python!"
type ("Hello, Python!")

str

In [189]:
type(12.)

float

In [190]:
# Print the type of (-1)
type(-1)

int

In [191]:
# Print the type of (4)
type(4)

int

In [192]:
# Print the type of 0
type(0)

int

In [193]:
# Print the type of 1.0
type (1.0)

float

In [194]:
# Print the type of 0.5
type(0.5)

float

In [195]:
# Print the type of 0.56
type(0.56)

float

In [196]:
# System settings of float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [197]:
type(2)

int

In [198]:
# Convert an integer into a float
float(2)

2.0

Casting 1.1 into an integer (1) could resolt in loss of information.

In [199]:
# Convert a string into an integer 
int('1')

1

In [200]:
# Convert an integer to a float 
float(3)

3.0

In [201]:
# Convert a float to a string 
str(2.7)

'2.7'

In [202]:
# Convert an integer to a string 
str(7)

'7'

In [203]:
# Convert the string (1.2) into a float
float('1.2')

1.2

### Note: strings(str) will come with a quotation mark ('' or "") but not both.

### __Boolean__ can take on one of two values: **True or False**
When you ask Python to display the type of a boolean object it will show  which stands for boolean.

In [204]:
# Value true
True

True

In [205]:
# Value False
False

False

In [206]:
# Value Type 
type(True)

bool

In [207]:
# Value Type 
type(False)

bool

# Casting Boolean objects to other data
We **__CAN__** cast boolean objects to other data types. If we cast a boolean with a __value of True__ to an __integer or float__ we will get a **one**. If we cast a boolean with a __value of False__ to an __integer or float__ we will get a **zero**. Similarly, if we cast a __1 to a Boolean__, you get a **True**. And if we cast a __0 to a Boolean__ we will get a **False**.

### Examples of "Types" Conversion(s)

In [208]:
# Convert True to int
int(True)

1

In [209]:
# Convert 1 to Boolean
bool(1)

True

In [210]:
# Convert 0 to Boolean
bool(0)

False

In [211]:
# Convert True to float
float(True)

1.0

In [212]:
# What is the type of 6/2?
type(6/2)

float

In [213]:
# What is the type of the result 6//2?
type(6//2)

int

In [214]:
# What is the type of the result "Hello, World!"?
type('Hello, World!')

str

In [215]:
# What is the type of the result 'Hello'=='World!'?
type('Hello'=='World!')

bool

In [216]:
# Write the code to convert Employee ID number '1001' to an integer
int('1001')

1001

In [217]:
# Write the code to convert "1234.56" to a float
float('1234.56')

1234.56

In [218]:
# Write the code to convert the phone number 123-456-7890 to a string
str('123-456-7890')

'123-456-7890'

### Expressions and Variables

#### Expressions

In [219]:
# Addition operation expression
43 + 60 + 16 + 41

160

In [220]:
# Subtraction operation expression
50 - 60

-10

In [221]:
# Multiplication operation expression
14*7

98

Division is performed with the forward slash __(/)__

In [222]:
# Division operation expression
25/5

5.0

In [223]:
# Division operation expression 
25/6

4.166666666666667

#### We can use the double slash **(//)** for **INTEGER DIVISION** where the result is **__rounded down to the nearest integer.__**

In [224]:
# Integer division operation expression
25//5

5

In [225]:
# Integer division operation expression
25//6

4

In [226]:
# Write an expression that calculates how many hours there are in 160 minutes
160//60

2

In [227]:
# Mathematical Expression
30 + 2 * 60

150

#### Just like mathematics, expressions enclosed in parentheses have priority.

In [228]:
# Mathematical Expression
(30 + 2) * 60

1920

In [229]:
# Mathematical Expression
(60/5)+4

16.0

In [230]:
# Mathematical Expression 
65-(17+4)

44

#### Variables

In [231]:
# Store value into variable 
x = 43 + 60 + 16 + 41

To see the value of x in a Notebook, place it on the __last line of a cell__.

In [232]:
# Print out a value in variable 

x = 43 + 60 + 16 + 41
x

160

We can also perform operations on 'x' and save the result to a new variable.

In [233]:
# Use another variable to store the result of the operation between variable and value 

y=x/60
y

2.6666666666666665

If we save a value to an existing variable, the new value will **overwrite** the previous value.

In [234]:
# Overwrite variable with new value

x=x/60
x

2.6666666666666665

In [235]:
# Name the variables meaningfully
total_min = 43 + 42 + 57 #total length of album in minutes
total_min

142

In [236]:
total_hours = total_min/60 #total length of album in hours 
total_hours

2.3666666666666667

In [237]:
# Complicated Expression
total_hours = (43 + 42 + 57) / 60 #total hours in a single expression
total_hours

2.3666666666666667

If you would rather have total hours as an integer, replace the __floating point division__ with __integer division__ (i.e //)

### Expressions in Python

In [238]:
# Write an expression to add 30 and 20 and subtract 40
30+20-40

10

In [239]:
# Write an expression to subtract 5 from 55 and divide the result by 10
(55-5)/10

5.0

In [240]:
# Write an expression to multiply 6 with 10 and divide the result by 12
(6*10)/12

5.0

### Variables in Python

In [241]:
# What is the value of x where x = 3 + 2 * 2?
x=3+2*2
x

7

In [242]:
# What is the value of y where y=(3+2)*2?
y=(3+2)*2
y

10

In [243]:
# What is the value of z where z=x+y?
z=x+y
z

17

## String Operations

In [244]:
# Use quotation marks for defining string
"Michael Jackson"

'Michael Jackson'

In [245]:
# Use single quotation marks for defining string
'Michael Jackson'

'Michael Jackson'

#### A string can be a combination of __spaces__ and __digits__.

In [246]:
# Digits and Spaces in string 
'1 2 3 4 5 6'

'1 2 3 4 5 6'

#### A string can also be a combination of special characters.

In [247]:
# Special characters in string
' 2&%$3_)9$$'

' 2&%$3_)9$$'

In [248]:
# Print the string 
print('hello!')

hello!

#### We can bind, or assign, a string to another variable.

In [249]:
# Assign string to variable
name = 'Michael Jackson'
name

'Michael Jackson'

### Indexing

A string -- ordered sequence.<br> 
Each element in the sequence can be accessed using an __INDEX__ represented by the __ARRAY__ of numbers.<br>
**NOTE**: Indexing starts at **0** meaning, the 1st index is on the index **0**.<br>
Indexed values are displayed in **brackets[]**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/StringsIndex.png" width="600" align="center">

In [250]:
# Print the first element in the string 
print(name[0])

M

In [251]:
# Print the element on index 6 in the string
print(name[6])

l

In [252]:
# Print the element on index 13 in the string
print(name[13])

o