# Python Practice 8

## This document is part 8 of the composition of Python language in Jupyter Notebooks; Established to show basic understanding of coding to work with condition statements in Python, including operators, and branching.

### Condition Statements

* ### Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

1. equal: ==
2. not equal: !=
3. greater than: >
4. less than: <
5. greater than or equal to: >=
6. less than or equal to: <=

* Let's assign 'a' value of 5. Use the equality operator denoted with two equal == signs to determine if two values are equal. The case below compares the variable a with 6.

In [72]:
# Condition Equal

a = 5
a == 6

False

* Consider the following equality comparison operator: __i > 5__. If the value of the __left operand, in this case the variable i, is greater than the value of the right operand, in this case 5, then the statement is True.__ Otherwise, the statement is False. **If i is equal to 6, because 6 is larger than 5, the output is True.**

In [2]:
# Greater than Sign

i = 6
i > 5

True

* Set i = 2. The statement is False as 2 is not greater than 5

In [6]:
i = 2
i > 2

False

* Display some values for i in the figure. Set the values greater than 5 in green and the rest in red. The green region represents where the condition is True, the red where the statement is False. If the value of i is 2, we get False as the 2 falls in the red region. Similarly, if the value for i is 6 we get a True as the condition falls in the green region.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsGreater.gif" width="650">

* The __inequality test uses an exclamation mark preceding the equal sign (!=)__ , if two operands are not equal then the condition becomes True.
    * i.e the following condition will produce True as long as the value of i is not equal to 6

In [7]:
# Inequality Sign

i = 2
i != 6

True

In [9]:
i = 2 
i != 9

True

In [10]:
i = 2 
i != 2

False

In [11]:
i = 6 
i != 6

False

* #### We can apply the same methods on strings. For example, we can use an equality operator on two different strings. As the strings are not equal, we get a False.

In [12]:
# Use Equality sign to compare the strings

"ACDC" == "Michael Jackson"

False

In [13]:
'Beyonce' == 'Drake'

False

In [15]:
'Beyonce' == 'Beyonce'

True

In [16]:
'Beyonce' != 'Beyonce'

False

In [17]:
'Beyonce' != 'Drake'

True

* ### The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following represents the order of the character.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-7geq{background-color:#ffffc7;text-align:center;vertical-align:top}
.tg .tg-1cln{background-color:#ffcc67;font-size:100%;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-xozw{background-color:#ffcc67;font-weight:bold;text-align:center;vertical-align:top}
</style>

<table class="tg">
<thead>
  <tr>
    <th class="tg-1cln">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-7geq">A</td>
    <td class="tg-baqh">65</td>
    <td class="tg-7geq">N</td>
    <td class="tg-baqh">78</td>
    <td class="tg-7geq">a</td>
    <td class="tg-baqh">97</td>
    <td class="tg-7geq">n</td>
    <td class="tg-baqh">110</td>
  </tr>
  <tr>
    <td class="tg-7geq">B</td>
    <td class="tg-baqh">66</td>
    <td class="tg-7geq">O</td>
    <td class="tg-baqh">79</td>
    <td class="tg-7geq">b</td>
    <td class="tg-baqh">98</td>
    <td class="tg-7geq">o</td>
    <td class="tg-baqh">111</td>
  </tr>
  <tr>
    <td class="tg-7geq">C</td>
    <td class="tg-baqh">67</td>
    <td class="tg-7geq">P</td>
    <td class="tg-baqh">80</td>
    <td class="tg-7geq">c</td>
    <td class="tg-baqh">99</td>
    <td class="tg-7geq">p</td>
    <td class="tg-baqh">112</td>
  </tr>
  <tr>
    <td class="tg-7geq">D</td>
    <td class="tg-baqh">68</td>
    <td class="tg-7geq">Q</td>
    <td class="tg-baqh">81</td>
    <td class="tg-7geq">d</td>
    <td class="tg-baqh">100</td>
    <td class="tg-7geq">q</td>
    <td class="tg-baqh">113</td>
  </tr>
  <tr>
    <td class="tg-7geq">E</td>
    <td class="tg-baqh">69</td>
    <td class="tg-7geq">R</td>
    <td class="tg-baqh">82</td>
    <td class="tg-7geq">e</td>
    <td class="tg-baqh">101</td>
    <td class="tg-7geq">r</td>
    <td class="tg-baqh">114</td>
  </tr>
  <tr>
    <td class="tg-7geq">F</td>
    <td class="tg-baqh">70</td>
    <td class="tg-7geq">S</td>
    <td class="tg-baqh">83</td>
    <td class="tg-7geq">f</td>
    <td class="tg-baqh">102</td>
    <td class="tg-7geq">s</td>
    <td class="tg-baqh">115</td>
  </tr>
  <tr>
    <td class="tg-7geq">G</td>
    <td class="tg-baqh">71</td>
    <td class="tg-7geq">T</td>
    <td class="tg-baqh">84</td>
    <td class="tg-7geq">g</td>
    <td class="tg-baqh">103</td>
    <td class="tg-7geq">t</td>
    <td class="tg-baqh">116</td>
  </tr>
  <tr>
    <td class="tg-7geq">H</td>
    <td class="tg-baqh">72</td>
    <td class="tg-7geq">U</td>
    <td class="tg-baqh">85</td>
    <td class="tg-7geq">h</td>
    <td class="tg-baqh">104</td>
    <td class="tg-7geq">u</td>
    <td class="tg-baqh">117</td>
  </tr>
  <tr>
    <td class="tg-7geq">I</td>
    <td class="tg-baqh">73</td>
    <td class="tg-7geq">V</td>
    <td class="tg-baqh">86</td>
    <td class="tg-7geq">i</td>
    <td class="tg-baqh">105</td>
    <td class="tg-7geq">v</td>
    <td class="tg-baqh">118</td>
  </tr>
  <tr>
    <td class="tg-7geq">J</td>
    <td class="tg-baqh">74</td>
    <td class="tg-7geq">W</td>
    <td class="tg-baqh">87</td>
    <td class="tg-7geq">j</td>
    <td class="tg-baqh">106</td>
    <td class="tg-7geq">w</td>
    <td class="tg-baqh">119</td>
  </tr>
  <tr>
    <td class="tg-7geq">K</td>
    <td class="tg-baqh">75</td>
    <td class="tg-7geq">X</td>
    <td class="tg-baqh">88</td>
    <td class="tg-7geq">k</td>
    <td class="tg-baqh">107</td>
    <td class="tg-7geq">x</td>
    <td class="tg-baqh">120</td>
  </tr>
  <tr>
    <td class="tg-7geq">L</td>
    <td class="tg-baqh">76</td>
    <td class="tg-7geq">Y</td>
    <td class="tg-baqh">89</td>
    <td class="tg-7geq">l</td>
    <td class="tg-baqh">108</td>
    <td class="tg-7geq">y</td>
    <td class="tg-baqh">121</td>
  </tr>
  <tr>
    <td class="tg-7geq">M</td>
    <td class="tg-baqh">77</td>
    <td class="tg-7geq">Z</td>
    <td class="tg-baqh">90</td>
    <td class="tg-7geq">m</td>
    <td class="tg-baqh">109</td>
    <td class="tg-7geq">z</td>
    <td class="tg-baqh">122</td>
  </tr>
</tbody>
</table>

* From the table above we see that the value for A is 65, and the value for B is 66.

In [18]:
# Compare characters

'B' > 'A'

True

* ### When there are multiple letters, the first letter takes precedence in ordering.

In [19]:
# Compare characters

'BA' > 'AB'

True

* #### Note: Upper Case Letters have different ASCII code than Lower Case Letters, which means the comparison between the letters in Python is case-sensitive.

## Branching: Allows us to run *different statements for different inputs.* It is helpful to think of: _an 'if' statement as a locked room; if the statement is True we can enter the room and your program will run some predefined tasks, but if the statement is False the program will ignore the task._

* ### We can use the condition statements learned before as the conditions that need to be checked in the if statement. The syntax is as simple as  _'if:'_ --  which contains a word if, any condition statement, and a colon at the end.
     * Start your tasks which need to be executed under this condition in a new line with an indent.
     * The lines of code _after the colon and with an indent will only be executed when the if statement is True._ The tasks will end when the line of code does not contain the indent.

* ### Ex: The code print(“you can enter”) is executed _only if the variable age is greater than 18 is a True case because this line of code has the indent._ However, the execution of *print(“move on”) will not be influenced by the if statement.*

In [20]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

you can enter
move on

In [24]:
age = 17 
#age = 18 

if age > 18:
    print('you can enter')
print('move on')

move on

In [26]:
age = 21 
#age = 18 

if age > 18: 
    print('you can enter')
print('move on')

you can enter
move on

* On the left side, _we see what happens when the condition is True._ The person _enters the ACDC concert representing the code in the indent being executed; they then move on._ On the right side, *we see what happens when the condition is False; the person is not granted access, and the person moves on.* In this case, the segment of code in the indent does not run, but the rest of the statements are run.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%203/images/CondsIf.gif" width="650">

* ## The Else Statement: Runs a block of code _if none of the conditions are True before this else statement._ Let's use the ACDC concert analogy again. _If the user is 17 they cannot go to the ACDC concert, but they can go to the Meatloaf concert._ The syntax of the else statement is similar as the syntax of the if statement, as *'else :'*. Notice that, there is no condition statement for else. Try changing the values of age to see what happens.

In [27]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Meat Loaf
move on

In [28]:
age = 19 
# age = 17 

if age > 18: 
    print('you can enter')
else: 
    print('go see Meat Loaf')

print('move on')

you can enter
move on

In [30]:
age = 21
# age = 18 

if age > 18 :
    print('you can enter')
else: 
    print('go see Meat Loaf')
print('move on')

you can enter
move on

### Elif Statement: Short for 'else if'; allows us to check additional conditions _if the condition statements before it are False. If the condition for the elif statement is True, the alternate expressions will be run._ Consider the concert example, where _if the individual is 18 they will go to the Pink Floyd concert instead of attending the ACDC or Meat-loaf concert._ A person that is *18 years of age enters the area, and as they are not older than 18 they can not see ACDC, but since they are 18 years of age, they attend Pink Floyd. After seeing Pink Floyd, they move on.*  __The syntax of the elif statement is similar in that we merely change the if in the if statement to elif.__

In [31]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

go see Pink Floyd
move on

In [33]:
age = 21 

if age > 18: 
    print('you can enter')
elif age == 18: 
    print('go see Pink Floyd')
else:
    print('go see Meat Loaf')
print('move on')

you can enter
move on

In [34]:
age = 16 

if age > 18: 
    print('you can enter')
elif age == 18: 
    print('you can see Pink Floyd')
else: 
    print('go see Meat Loaf')
print('move on')

go see Meat Loaf
move on

#### Condition Statement Ex.

In [35]:
# Condition statement example

album_year = 1983
album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
    
print('do something..')

do something..

In [36]:
album_year = 2000
album_year = 2016

if album_year > 2010: 
    print('Album year is greater than 2010')
print('i like it')

Album year is greater than 2010
i like it

* ### As before, we can add an 'else' block to the 'if' block. The code in the 'else' block will only be executed 'if' the result is False.

Syntax:

if (condition): # do something else: # do something else

In [37]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

Album year is greater than 1980
do something..

In [38]:
album_year = 2001 
#album_year = 2003 

if album_year > 2002:
    print('Album year is greater than 2002.')
else: 
    print('less than 2002')
print('do something')

less than 2002
do something

In [39]:
birth_year = 2000
#birth_year = 2004 

if birth_year > 2002: 
    print('birth year is greater than 2002')
else: 
    print('less than 2002')
print('go home')

less than 2002
go home

### Logical Operators: Allow you to combine or modify conditions.

* 'and': _statement is only True when BOTH conditions are true._
* 'or': statement is _True if *__ONE__* condition, or both are True._
* 'not': *__statement outputs the opposite truth value.__*

### IF / AND STATEMENT

In [40]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

Album year was in between 1980 and 1989

Do Stuff..

### IF / OR STATEMENT

In [41]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

Album was not made in the 1980's

In [52]:
album_year = 2000

if(album_year < 2010) or (album_year > 1999):
    print('Album was not made in 2000s')
    
else:
    print('The Album was not made in the 2000s')

Album was not made in 2000s

### IF / NOT STATEMENT

In [53]:
# Condition statement example

album_year = 1983

if not (album_year == 1984):
    print ("Album year is not 1984")

Album year is not 1984

In [54]:
birth_year = 1996 
if not (birth_year == 1997):
    print('Birth year is not 1996')

Birth year is not 1996

In [59]:
birth_year = 1996 
birth_year != 1996 

if (birth_year) == 1999:
    print('Birth year is not 1996')
else: 
    print ('Birth year is less than 1999')
if not (birth_year == 2000):
    print('youre too young')

Birth year is less than 1999
youre too young

## Recap on Conditions and Branching

1. #### Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album “Back in Black” that had a rating of 8.5. If the statement is true print "This album is Amazing!"

In [63]:
album_rating = 8.5
if album_rating > 8: 
    print('This album is amazing!')

This album is amazing!

2. #### Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [64]:
rating = 8
if rating > 8: 
    print('this album is amazing!')
if rating <= 8: 
    print('this album is ok.')

this album is ok.

3. #### Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [71]:
album_year = 1979
if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979